# help I don't know what I'm doing
# copied from https://github.com/SchmarrnDevs/LetsJeb/blob/1.18.2/.github/workflows/mc-publish.yml
name: build

on:
  # Run on every branch
  push:
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build
        run: rm -f fabric/build/libs/* forge/build/libs/* && ./gradlew remapJar
      - name: Where do the artifacts go?
        run: ls -la fabric/build/libs && ls -la forge/build/libs